h2 {
    text-align: center;
    margin: 2em;
}
.add_work_experience {
    background-color: rgb(209, 228, 209);
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.line {
    display: flex;
    gap: 1em;
}
form label {
    font-weight: bold;
}
form button {
    padding: 1em;
    border-radius: 5px;
    border: solid rgb(122, 145, 122);
    background-color: rgb(122, 145, 122);
    max-width: 100px;
    width: 100%;
    margin-top: 1em;
}
/* Meddelande för lyckat POST och felmeddelande*/
.message {
    margin-top: 1em;
    font-weight: bold;
    text-align: center;
}